body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(165, 223, 178);
}
header {
    background-color: rgb(180, 235, 180);
    color: #274631;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    margin-bottom: 30px; 
}
header h1 {
    margin: 0;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Android', cursive;
}
main {
    background-color: rgb(180, 235, 180);
    padding: 10px;
    margin-top: 20px;
}
aside {
    background: linear-gradient(to right, #aef7c6, #caffdc);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.062);
    margin-top: 10px;
}
a {
    color: green;
    text-decoration: none;
    font-size: 1.5em;
}
a:hover {
    background-color: rgb(132, 204, 132);
    font-size: 2em;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: bold;
}
#id {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: bold;
}
#id:hover {
    font-size: 1.2em;
}
